<nz-layout class="tw-h-screen tw-overflow-hidden theme-bg-primary theme-transition">

    <!-- Header -->
    <app-header [isCollapsed]="isCollapsed" (toggleSidebar)="toggleSidebar()" />

    <!-- Body -->
    <nz-layout class="tw-pt-[64px] tw-h-full">

        <!-- Sidebar -->
        <app-left-sidebar [isCollapsed]="isCollapsed" (collapsedChange)="onCollapsedChange($event)" />

        <!-- Main Content -->
        <nz-layout [ngClass]="{ 'tw-ml-[260px]': !isCollapsed, 'tw-ml-[80px]': isCollapsed }"
            class="tw-h-[calc(100vh-64px)] tw-overflow-hidden theme-bg-primary">

            <!-- Breadcrumb -->
            <app-breadcrumb [isCollapsed]="isCollapsed" />

            <!-- Content -->
            <nz-content class="tw-pt-[112px] tw-px-6 tw-pb-6 tw-h-full tw-overflow-y-auto theme-bg-primary">
                <router-outlet />
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>